// CHOOSE
.choose {
  max-width: 1100px;
  margin: 0 auto 5rem;
  padding: 5rem 0 0 0;

  @media screen and (max-width: 1065px) {
    max-width: 1000px;
  }

  // CHOOSE TITLE

  &__title {
    text-align: center;
    color: $gray;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 4rem;

    @media screen and (max-width: 740px) {
      font-size: 38px;
    }

    @media screen and (max-width: 480px) {
      font-size: 32px;
    }
  }

  // CHOOSE CARD WRAPPER
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;

    @media screen and (max-width: 740px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      padding: 0 2rem;
    }

    // CARD

    .card {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media screen and (max-width: 740px) {
        width: 47%;
      }

      @media screen and (max-width: 480px) {
        width: 70%;
        margin: auto;
      }

      &__text {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &-eng {
          color: $dark;
          font-size: 20px;
          font-weight: 700;
          line-height: 26px;

          @media screen and (max-width: 740px) {
            font-size: 28px;
          }
        }

        &-rus {
          color: $dark;
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;

          @media screen and (max-width: 740px) {
            font-size: 24px;
          }
        }
      }
    }
  }
}
