.order {
  max-width: 1100px;
  margin: auto;
  padding: 5rem 0 0 0;
  display: flex;

  @media screen and (max-width: 1150px) {
    max-width: 1000px;
  }

  @media screen and (max-width: 1035px) {
    max-width: 900px;
  }

  @media screen and (max-width: 950px) {
    max-width: 800px;
  }

  @media screen and (max-width: 860px) {
    max-width: 700px;
  }

  @media screen and (max-width: 720px) {
    max-width: 600px;
  }

  @media screen and (max-width: 640px) {
    max-width: 520px;
  }

  @media screen and (max-width: 550px) {
    max-width: 420px;
  }

  @media screen and (max-width: 450px) {
    max-width: 360px;
  }

  &__block {
    width: 50%;
    padding: 7rem 4rem;
    background-color: $purpleDark;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media screen and (max-width: 1035px) {
      padding: 6rem 3rem;
    }

    @media screen and (max-width: 860px) {
      padding: 4rem 2rem;
    }

    @media screen and (max-width: 720px) {
      width: 100%;
      text-align: center;
      margin: auto;
    }

    &-title {
      color: $white;
      font-size: 32px;
      font-weight: 700;
      line-height: 39px;
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .form__input {
        padding: 15px 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        border-bottom: 1px solid $grayLight;
      }

      .form__p {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: $gray;
      }

      .form__btn {
        margin: auto;
        color: $purple;
        background-color: $white;
        width: 45%;
        padding: 12px;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        border-radius: 30px;
        transition-duration: 0.5s;
      }

      .form__btn:hover {
        background-color: #c4c4c4;
      }
    }
  }

  &__img {
    width: 50%;

    @media screen and (max-width: 720px) {
      display: none;
    }
  }
}
